# Shelter Animal Outcomes

In [41]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import math

In [2]:
os.chdir(r'C:\Users\brcro\OneDrive\Documents\Syracuse\IST 652 - Scripting for Data Analysis\Project')

In [88]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.shape

(26729, 9)

In [89]:
train = train.set_index('AnimalID')
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [7]:
train.columns

Index(['Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype', 'AnimalType',
       'SexuponOutcome', 'AgeuponOutcome', 'Breed', 'Color'],
      dtype='object')

In [8]:
train.describe()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,19038,26729,26729,13117,26729,26728,26711,26729,26729
unique,6374,22918,5,16,2,5,44,1380,366
top,Max,2015-08-11 00:00:00,Adoption,Partner,Dog,Neutered Male,1 year,Domestic Shorthair Mix,Black/White
freq,136,19,10769,7816,15595,9779,3969,8810,2824

In [10]:
train.dtypes

Name              object
DateTime          object
OutcomeType       object
OutcomeSubtype    object
AnimalType        object
SexuponOutcome    object
AgeuponOutcome    object
Breed             object
Color             object
dtype: object

In [90]:
#Replace Missing Values
train = train.fillna('Unknown')

In [62]:
#Change data types
train['Name'] = str(train['Name'])
train['OutcomeType'] = train['OutcomeType'].astype('category')
train['OutcomeSubtype'] = train['OutcomeSubtype'].astype('category')
train['AnimalType'] = train['AnimalType'].astype('category')
train['SexuponOutcome'] = str(train['SexuponOutcome'])
train['AgeuponOutcome'] = str(train['AgeuponOutcome'])
train['Breed'] = train['Breed'].astype('category')
train['Color'] = train['Color'].astype('category')

In [63]:
train.dtypes

AnimalID            object
Name                object
DateTime            object
OutcomeType       category
OutcomeSubtype    category
AnimalType        category
SexuponOutcome      object
AgeuponOutcome      object
Breed             category
Color             category
dtype: object

## Feature Engineering

In [17]:
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
AnimalID,,,,,,,,,
A671945,AnimalID\nA671945 AnimalID\nA671945 Anim...,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
A656520,AnimalID\nA671945 AnimalID\nA671945 Anim...,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
A686464,AnimalID\nA671945 AnimalID\nA671945 Anim...,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
A683430,AnimalID\nA671945 AnimalID\nA671945 Anim...,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
A667013,AnimalID\nA671945 AnimalID\nA671945 Anim...,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [91]:
def NG_split(x):
    if x != 'Unknown':
        Neutered, Gender = x.split()
        if Neutered == 'Intact':
            Neutered == False
        else:
            Neutered == True
    else:
        Neutered = None
        Gender = None
    return(Neutered, Gender)

In [92]:
train['SexuponOutcome'].unique()

array(['Neutered Male', 'Spayed Female', 'Intact Male', 'Intact Female',
       'Unknown'], dtype=object)

In [93]:
Neutered = []
Gender = []
for val in train['SexuponOutcome']:
    neutered, gender = NG_split(val)
    Neutered.append(neutered)
    Gender.append(gender)
train['Neutered'] = Neutered
train['Gender'] = Gender
train = train.drop('SexuponOutcome', 1)
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,AgeuponOutcome,Breed,Color,Neutered,Gender
AnimalID,,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,Unknown,Dog,1 year,Shetland Sheepdog Mix,Brown/White,Neutered,Male
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,1 year,Domestic Shorthair Mix,Cream Tabby,Spayed,Female
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,2 years,Pit Bull Mix,Blue/White,Neutered,Male
A683430,Unknown,2014-07-11 19:09:00,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Blue Cream,Intact,Male
A667013,Unknown,2013-11-15 12:52:00,Transfer,Partner,Dog,2 years,Lhasa Apso/Miniature Poodle,Tan,Neutered,Male

In [95]:
train['AgeuponOutcome'].unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years',
       'Unknown', '17 years', '18 years', '19 years', '20 years'],
      dtype=object)

In [108]:
def agetodays(x):
        try:
            if x == 'Unknown':
                return None
            else:
                y = x.split()
        except:
            return None 
        if 'year' in y[1]:
            return float(y[0]) * 365
        elif 'month' in y[1]:
            return float(y[0]) * (365/12)
        elif 'week' in y[1]:
            return float(y[0]) * 7
        elif 'day' in y[1]:
            return float(y[0])
        
train['Age'] = train['AgeuponOutcome'].map(agetodays)
train.head()

,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,AgeuponOutcome,Breed,Color,Neutered,Gender,Age
AnimalID,,,,,,,,,,,
A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,Unknown,Dog,1 year,Shetland Sheepdog Mix,Brown/White,Neutered,Male,365.0
A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,1 year,Domestic Shorthair Mix,Cream Tabby,Spayed,Female,365.0
A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,2 years,Pit Bull Mix,Blue/White,Neutered,Male,730.0
A683430,Unknown,2014-07-11 19:09:00,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Blue Cream,Intact,Male,21.0
A667013,Unknown,2013-11-15 12:52:00,Transfer,Partner,Dog,2 years,Lhasa Apso/Miniature Poodle,Tan,Neutered,Male,730.0

In [111]:
train['Year'] = train['DateTime'].str[:4].astype(int)
train['Month'] = train['DateTime'].str[5:7].astype(int)
train['Day'] = train['DateTime'].str[8:10].astype(int)
train.drop('DateTime', 1)

,Name,OutcomeType,OutcomeSubtype,AnimalType,AgeuponOutcome,Breed,Color,Neutered,Gender,Age,Year,Month,Day,Hour,Minute
AnimalID,,,,,,,,,,,,,,,
A671945,Hambone,Return_to_owner,Unknown,Dog,1 year,Shetland Sheepdog Mix,Brown/White,Neutered,Male,365.000000,2014,2,12,18,22
A656520,Emily,Euthanasia,Suffering,Cat,1 year,Domestic Shorthair Mix,Cream Tabby,Spayed,Female,365.000000,2013,10,13,12,44
A686464,Pearce,Adoption,Foster,Dog,2 years,Pit Bull Mix,Blue/White,Neutered,Male,730.000000,2015,1,31,12,28
A683430,Unknown,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Blue Cream,Intact,Male,21.000000,2014,7,11,19,9
A667013,Unknown,Transfer,Partner,Dog,2 years,Lhasa Apso/Miniature Poodle,Tan,Neutered,Male,730.000000,2013,11,15,12,52
A677334,Elsa,Transfer,Partner,Dog,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan,Intact,Female,30.416667,2014,4,25,13,4
A699218,Jimmy,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Blue Tabby,Intact,Male,21.000000,2015,3,28,13,11
A701489,Unknown,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Brown Tabby,None,None,21.000000,2015,4,30,17,2
A671784,Lucy,Adoption,Unknown,Dog,5 months,American Pit Bull Terrier Mix,Red/White,Spayed,Female,152.083333,2014,2,4,17,17
A677747,Unknown,Adoption,Offsite,Dog,1 year,Cairn Terrier,White,Spayed,Female,365.000000,2014,5,3,7,48
A668402,Unknown,Transfer,SCRP,Cat,2 years,Domestic Shorthair Mix,Black,None,None,730.000000,2013,12,5,15,50
A666320,Unknown,Adoption,Unknown,Dog,2 years,Miniature Schnauzer Mix,Silver,Spayed,Female,730.000000,2013,11,4,14,48
A684601,Rocket,Adoption,Foster,Dog,4 years,Pit Bull Mix,Brown,Neutered,Male,1460.000000,2016,2,3,11,27
A704702,Scooter,Return_to_owner,Unknown,Dog,2 years,Yorkshire Terrier Mix,Black/Red,Neutered,Male,730.000000,2015,6,8,16,30
A688584,Preston,Return_to_owner,Unknown,Dog,1 year,Great Pyrenees Mix,White/Cream,Neutered,Male,365.000000,2015,11,25,15,0
A678825,Oliver,Adoption,Foster,Cat,3 months,Domestic Shorthair Mix,Orange Tabby/White,Neutered,Male,91.250000,2014,7,12,12,10
A678050,Unknown,Transfer,Partner,Cat,3 weeks,Domestic Shorthair Mix,Brown Tabby,Intact,Male,21.000000,2014,5,3,16,15
A680028,Unknown,Transfer,Partner,Dog,2 weeks,Pit Bull Mix,Brown/White,Intact,Female,14.000000,2014,6,7,12,54
A679010,Chrissy,Transfer,Partner,Cat,2 years,Angora Mix,White,Intact,Female,730.000000,2014,5,17,11,32
A684787,Kuma,Return_to_owner,Unknown,Dog,1 year,Flat Coat Retriever Mix,Black,Neutered,Male,365.000000,2014,7,30,17,34
A670658,Anders,Transfer,Partner,Dog,2 months,Queensland Heeler Mix,Black/White,Intact,Male,60.833333,2014,1,19,15,3
A708812,Munchkin,Transfer,Partner,Cat,1 year,Domestic Shorthair Mix,White,Spayed,Female,365.000000,2015,9,18,15,19
A705262,Jamaica,Adoption,Unknown,Dog,2 years,Plott Hound/Boxer,Brown Brindle/White,Spayed,Female,730.000000,2015,8,15,14,22
A665781,Quattro,Adoption,Unknown,Dog,10 months,German Shepherd Mix,Brown/White,Neutered,Male,304.166667,2013,10,28,16,32
A676333,Trigger,Return_to_owner,Unknown,Dog,2 months,German Shepherd Mix,Black/Brown,Neutered,Male,60.833333,2014,4,9,17,44
A712750,Olive,Transfer,Partner,Cat,1 month,Domestic Shorthair Mix,Orange Tabby,Intact,Female,30.416667,2015,10,3,15,44
A718832,Nia,Adoption,Unknown,Dog,6 months,American Staffordshire Terrier Mix,Chocolate/White,Spayed,Female,182.500000,2016,1,15,17,31
A698777,Chloe,Adoption,Unknown,Dog,5 years,Chihuahua Shorthair Mix,White/Tan,Spayed,Female,1825.000000,2015,3,25,18,50
A715348,Cymbale,Adoption,Unknown,Cat,2 months,Domestic Shorthair Mix,Cream Tabby/White,Spayed,Female,60.833333,2015,11,21,13,1
A708666,Jax,Return_to_owner,Unknown,Cat,7 years,Russian Blue Mix,Blue,Neutered,Male,2555.000000,2015,7,30,14,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A676460,Mario,Euthanasia,Behavior,Dog,2 years,American Pit Bull Terrier Mix,White/Black,Neutered,Male,730.000000,2014,4,21,14,1
A704999,Lion,Return_to_owner,Unknown,Dog,10 months,Great Pyrenees/Anatol Shepherd,Tan/Cream,Intact,Male,304.166667,2015,6,15,19,28
A678842,Ella,Transfer,Partner,Dog,11 months,Jack Russell Terrier Mix,White/Black,Intact,Female,334.583333,2014,6,15,17,41
A713637,Unknown,Died,In Kennel,Cat,2 years,Siamese Mix,Lynx Point,Spayed,Female,730.000000,2015,10,11,9,42
A716670,Mowmow,Transfer,Partner,Cat,6 years,Domestic Longhair Mix,Seal Point,Neutered,Male,2190.000000,2015,12,4,12,22
A716223,Alice,Transfer,Partner,Cat,4 weeks,Domestic Shorthair Mix,White/Black,Intact,Female,28.000000,2015,11,17,17,17
A662498,Grace,Transfer,Partner,Cat,2 months,Domestic Shorthair Mix,Tortie,Intact,Female,60.833333,2013,10,19,15,34
A689942,Zoey,Adoption,Unknown,Cat,2 months,Domestic Shorthair Mix,Black,Spayed,Female,60.833333,2014,10,19,13,29
A682690,Unknown,Euthanasia,Suffering,Cat,1 year,Domestic Shorthair Mix,Brown Tabby,None,None,365.000000,2014,7,1,17,6
A666920,Herbie,Transfer,Partner,Dog,2 years,Chihuahua Shorthair Mix,White/Brown,Neutered,Male,730.000000,2013,11,13,17,32
A714386,Unknown,Adoption,Unknown,Dog,1 month,Chihuahua Shorthair Mix,Sable/Buff,Spayed,Female,30.416667,2015,10,24,0,0
A692622,Bonnie,Transfer,Partner,Dog,1 month,Chihuahua Shorthair/Yorkshire Terrier,Brown/Black,Intact,Female,30.416667,2014,11,24,17,21
A666284,Sonja,Transfer,Partner,Dog,1 year,Cocker Spaniel/Dachshund,Buff,Intact,Female,365.000000,2013,10,30,18,32
A535277,Merlin,Return_to_owner,Unknown,Dog,12 years,Rat Terrier,Chocolate/Tan,Neutered,Male,4380.000000,2015,4,20,16,4
A671169,Unknown,Euthanasia,Suffering,Cat,18 years,Domestic Longhair Mix,Tortie,Intact,Female,6570.000000,2014,1,20,17,37
A679031,Pete,Adoption,Unknown,Cat,2 months,Domestic Shorthair Mix,Orange Tabby,Spayed,Female,60.833333,2014,5,31,16,11
A708833,Luna,Adoption,Unknown,Dog,2 months,Pointer Mix,Black/White,Spayed,Female,60.833333,2015,8,5,17,3
A697158,Max,Adoption,Offsite,Dog,2 months,Newfoundland Mix,White/Black,Neutered,Male,60.833333,2015,5,2,21,4
A519949,Bella,Return_to_owner,Unknown,Dog,9 years,Bullmastiff Mix,Black,Spayed,Female,3285.000000,2014,6,30,17,34
A701044,Unknown,Adoption,Unknown,Dog,2 months,Siberian Husky/German Shepherd,Black/Tricolor,Neutered,Male,60.833333,2015,4,28,14,26
A707871,Unknown,Transfer,SCRP,Cat,2 years,Domestic Shorthair Mix,Brown Tabby/White,None,None,730.000000,2015,7,20,9,0
A704405,Brownie,Adoption,Unknown,Cat,2 months,Domestic Shorthair Mix,Brown Tabby,Spayed,Female,60.833333,2015,7,18,14,8
A662019,Green Bean,Adoption,Foster,Cat,5 years,Domestic Shorthair Mix,Black,Spayed,Female,1825.000000,2014,7,17,9,43
A687056,Unknown,Transfer,SCRP,Cat,5 months,Domestic Shorthair Mix,Orange Tabby,Intact,Male,152.083333,2014,8,31,9,0
A716997,Zeus,Adoption,Unknown,Dog,6 years,Staffordshire Mix,Blue/White,Neutered,Male,2190.000000,2016,1,29,18,52
A702446,Unknown,Transfer,Partner,Cat,1 month,Domestic Shorthair Mix,Brown Tabby/White,Intact,Male,30.416667,2015,5,14,11,56
A718934,Unknown,Transfer,SCRP,Cat,3 months,Domestic Shorthair Mix,Brown Tabby,Spayed,Female,91.250000,2016,1,20,18,59
A698128,Zeus,Adoption,Unknown,Dog,4 years,Old English Bulldog Mix,White/Tan,Neutered,Male,1460.000000,2015,3,9,13,33
A677478,Unknown,Transfer,Partner,Cat,4 weeks,Domestic Shorthair Mix,Black,Intact,Male,28.000000,2014,4,27,12,22
A706629,Unknown,Transfer,SCRP,Cat,1 year,Domestic Shorthair Mix,Brown Tabby/White,Intact,Male,365.000000,2015,7,2,9,0

In [112]:
train['OutcomeType'].unique()

array(['Return_to_owner', 'Euthanasia', 'Adoption', 'Transfer', 'Died'],
      dtype=object)

In [109]:
colors = ['Brown', 'White', 'Blue', 'White', 'Tan', 'Black', 'Chocolate', 'Red', 'Yellow', 'Calico']
train['Color'].unique()

array(['Brown/White', 'Cream Tabby', 'Blue/White', 'Blue Cream', 'Tan',
       'Black/Tan', 'Blue Tabby', 'Brown Tabby', 'Red/White', 'White',
       'Black', 'Silver', 'Brown', 'Black/Red', 'White/Cream',
       'Orange Tabby/White', 'Black/White', 'Brown Brindle/White',
       'Black/Brown', 'Orange Tabby', 'Chocolate/White', 'White/Tan',
       'Cream Tabby/White', 'Blue', 'Calico', 'Torbie', 'Brown/Black',
       'Yellow', 'Tricolor', 'White/Black', 'Tortie', 'Blue Tabby/White',
       'Gray/White', 'Tan/Black', 'Tan/White', 'Buff',
       'Brown Tabby/White', 'Red', 'Blue/Tan', 'Seal Point',
       'Brown Brindle', 'White/Brown', 'Gray', 'Yellow Brindle/White',
       'Fawn/White', 'Flame Point', 'Black Tabby/White', 'Tortie/Calico',
       'Black/Brown Brindle', 'White/Gray', 'Tan/Silver',
       'Red Tick/Black', 'White/Cream Tabby', 'Blue Merle',
       'Chocolate/Tan', 'Sable', 'Brown Merle/White', 'Brown Tiger/White',
       'Liver/White', 'White/Blue Tabby', 'Black/Gray', 'Cream',
       'Chocolate', 'Blue Point', 'Apricot/White', 'Red Merle/Black',
       'White/Brown Tabby', 'Blue Merle/White', 'Fawn',
       'Lynx Point/White', 'Fawn/Black', 'Red Tick/White', 'Buff/Tan',
       'Brown Brindle/Red Tick', 'White/Blue', 'Lilac Point',
       'Buff/White', 'White/Orange Tabby', 'Tortie Point', 'Lynx Point',
       'Tortie/White', 'Black/Tricolor', 'Apricot', 'Red/Tan',
       'Tan/Brown', 'White/Tricolor', 'Brown/Tricolor', 'White/White',
       'Gray Tabby', 'Sable/White', 'Blue Tiger/White', 'Yellow Brindle',
       'White/Brown Brindle', 'Gold', 'Brown/Tan', 'Blue Tick',
       'Torbie/White', 'Black Smoke/White', 'Blue Tabby/Orange',
       'Red Merle', 'Tricolor/Blue', 'Yellow/White', 'Black Smoke',
       'Calico Point', 'Blue Cream/Blue Tiger', 'Blue Merle/Gray',
       'Brown/Silver', 'Tricolor/White', 'Sable/Black', 'Black Brindle',
       'Tortie Point/Lynx Point', 'Brown Brindle/Black', 'Black/Buff',
       'Calico/White', 'White/Orange', 'Black Tabby', 'Brown Merle',
       'Black Brindle/White', 'Tan/Gray', 'Blue Merle/Brown',
       'Red Merle/White', 'White/Chocolate Point', 'Silver/Black',
       'White/Red', 'Cream/Red Tick', 'Cream/White', 'White/Liver',
       'Chocolate/Gold', 'Calico Point/White', 'Brown/Brown',
       'Seal Point/White', 'White/Black Brindle', 'Red/Black',
       'Sable/Brown', 'Silver/Tan', 'White/Blue Merle',
       'Calico/Brown Tabby', 'Silver Tabby', 'Tan/Blue', 'Blue Merle/Tan',
       'Blue Tick/Black', 'Cream/Black', 'Chocolate/Tricolor',
       'Gold/White', 'Silver/Brown', 'Cream/Gray', 'Black/Blue Tick',
       'White/Chocolate', 'Black/Blue Merle', 'Red/Red Tick',
       'Tricolor/Black', 'Orange', 'Black/Orange', 'Tan/Buff',
       'Chocolate Point/White', 'Orange/White', 'Tortie/Blue Cream',
       'White/Black Tabby', 'Brown/Red Tick', 'Blue/Brown Brindle',
       'Black/Silver Tabby', 'Tan/Red', 'White/Lynx Point', 'Gray/Silver',
       'Red/Gold', 'White/Buff', 'Tan/Gold', 'Blue Tabby/Blue Cream',
       'Cream/Tan', 'Calico/Black', 'Sable/Tan', 'Blue/Black',
       'Brown Tabby/Black', 'Red/Cream', 'Brown Tiger', 'Agouti',
       'Gray/Tan', 'Calico/Tricolor', 'Black/Black', 'White/Blue Cream',
       'Brown/Gray', 'Blue Point/White', 'Gray Tabby/White',
       'White/Brown Tiger', 'Black/Cream', 'Red Tick/Tan',
       'Orange Tabby/Apricot', 'Red Tick/Brown', 'White/Brown Merle',
       'Fawn/Tricolor', 'Blue Smoke', 'Chocolate/Brown Brindle',
       'Black Brindle/Black', 'Tan/Cream', 'Black Tabby/Orange',
       'Apricot/Brown', 'Gray/Black', 'Buff/Red', 'Tan/Brown Brindle',
       'Brown/Red', 'Black/Silver', 'Red Tick', 'Blue Tick/White',
       'Silver Tabby/White', 'White/Apricot', 'White/Red Merle',
       'Fawn/Brown Brindle', 'Orange/Tan', 'Black/Black Smoke',
       'Brown/Chocolate', 'Liver Tick', 'Cream/Red',
       'Black Smoke/Brown Tabby', 'Gray/Cream', 'Chocolate Point',
       'Blue Merle/Tricolor', 'Red/Blue', 'Tricolor/Brown Merle',
       'Blue/Tortie', 'Blue Smoke/Brown', 'Red/Brown', 'White/Silver',
       'Tricolor/Brown', 'Chocolate/Brown', 'Blue Cream/White',
       'Chocolate/Red', 'Cream/Brown', 'Blue Merle/Cream', 'Buff/Black',
       'Tortie/Orange', 'Brown Merle/Black', 'Seal Point/Brown',
       'Blue Tabby/Tan', 'Red/Red Merle', 'Tortie/Brown', 'Sable/Cream',
       'Black/Black Tabby', 'Brown Tabby/Gray', 'Tan/Tan',
       'Blue Tick/Brown', 'Chocolate/Black Smoke', 'Brown/Black Tabby',
       'Brown/Buff', 'Yellow Brindle/Tan', 'Blue Tick/Tan',
       'Red Tick/Brown Merle', 'White/Yellow', 'Lynx Point/Brown Tabby',
       'Torbie/Brown', 'Liver/Buff', 'Tricolor/Tan', 'Chocolate/Black',
       'Pink', 'Black/Blue', 'White/Gold', 'Red Tick/Red',
       'Black/Yellow Brindle', 'Black/Chocolate', 'Silver Lynx Point',
       'Brown/Brown Merle', 'Orange Tabby/Black', 'Tortie/Black',
       'Brown Tabby/Brown', 'Brown Brindle/Tan', 'Torbie/Blue Cream',
       'Black Brindle/Brown', 'Red/Tricolor', 'Blue/Yellow Brindle',
       'White/Black Smoke', 'Ruddy/Cream', 'Blue Merle/Black',
       'White/Yellow Brindle', 'Blue/Cream', 'Gold/Yellow', 'Blue Tiger',
       'Tan/Brown Merle', 'White/Red Tick', 'Buff/Yellow',
       'Tricolor/Chocolate', 'Silver/White', 'Gold/Tan', 'Gold/Gold',
       'Tortie Point/White', 'Blue Tick/Red Tick', 'Brown Merle/Tan',
       'Red Tick/Blue Tick', 'Brown/Blue Smoke', 'Liver/Tan',
       'Red Merle/Tan', 'Black/Black Brindle', 'Blue Cream/Buff',
       'Gray/Brown', 'Blue/Orange', 'Brown Merle/Blue Merle',
       'White/Pink', 'Calico/Brown', 'Torbie/Calico', 'White/Gray Tabby',
       'Brown Brindle/Blue', 'Brown/Blue', 'Blue Merle/Red',
       'Brown Brindle/Brown Merle', 'Blue/Brown', 'Calico/Orange Tabby',
       'White/Flame Point', 'Brown/Cream', 'Brown Brindle/Brown Brindle',
       'Blue Merle/Blue Merle', 'White/Calico', 'Fawn/Brown',
       'Gold/Black', 'Chocolate/Brown Merle', 'White/Blue Tick',
       'Agouti/Brown Tabby', 'Brown Tabby/Tortie', 'Black/Yellow',
       'Chocolate/Red Tick', 'Gray/Red', 'Brown Brindle/Blue Tick',
       'Tan/Apricot', 'Blue Tick/Brown Brindle', 'Liver Tick/White',
       'Cream/Seal Point', 'Lynx Point/Gray Tabby', 'Red/Buff',
       'Tan/Tricolor', 'Blue Tabby/Cream', 'Black Tiger/White',
       'Silver/Chocolate', 'Tricolor/Silver', 'Blue Merle/Red Merle',
       'Silver Tabby/Black', 'Tortie/Black Smoke', 'Orange/Orange Tabby',
       'Fawn/Blue', 'Black/Brown Merle', 'Tricolor/Blue Merle',
       'Blue Cream/Tortie', 'Orange Tabby/Orange', 'Blue Tick/Red',
       'Fawn/Tan', 'Brown Tabby/Orange', 'Yellow Brindle/Blue',
       'Brown Brindle/Blue Cream', 'Yellow/Black', 'Calico/Blue Cream',
       'Tan/Yellow Brindle', 'Black Brindle/Brown Brindle',
       'Chocolate/Cream', 'Blue Cream/Blue Tabby', 'Calico/Blue Tabby',
       'Orange Tiger', 'Cream/Orange', 'Sable/Red', 'Buff/Gray',
       'Gold/Buff', 'Silver/Red', 'Tricolor/Calico',
       'Brown/Black Brindle', 'Chocolate/Gray', 'Brown Tabby/Gray Tabby',
       'Yellow/Yellow', 'Gray Tabby/Black', 'Red/Silver', 'Buff/Brown',
       'Sable/Buff'], dtype=object)

(array([], dtype=int64),)